---
import path from "path";
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

let isActive: boolean;
if (pathname === href && pathname === "/") {
	isActive = true;
} else if (href !== "/" && href && pathname.startsWith(href.toString())) {
	isActive = true;
} else {
	isActive = false;
}
---

<a
	href={href}
	class="link link-hover link-primary mr-3 font-semibold"
	class:list={[className, { "link-secondary !no-underline": isActive }]}
	{...props}
>
	<slot />
</a>
